body{
    background: #007fc7;
}
#container{
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    width: 800px;
    position: relative;
}

h1{
   
}

p{
   width: 300px;
}

.absolute{
    border: 1px solid rgb(194, 17, 17);
    background: #f2f2f2;
    position: absolute;
    top: 80px;
    right: 80px;
}

.relative{
    border: 1px solid blue;
    position: relative ;
 /* top: 20px;
    left: 80px;
    */
    bottom: -20px;
}

.fixo{
    border: 1px solid rgb(194, 17, 17);
    background: #f2f2f2;
    margin: 0px;
    position: absolute;
    top: 80px;
    right: 80px;
    position: fixed;
    top: 0px;
    right: 0px;
}
