body{
    background: #007fc7;
}
#container{
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    width: 800px;
}

h1{
   
}

p{
   width: 400px;
}
.relative{
    border: 1px solid blue;
    position: relative ;
    top: 20px;
    left: 80px;
}