.conteudo1{
    border: 1px solid blue;
    background: orange;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
}

.conteudo2{
    border: 1px solid blue;
    background: rgb(26, 189, 53);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 1;
}

.conteudo3{
    border: 1px solid rgb(204, 67, 158);
    background: rgb(233, 220, 44);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 160px;
    left: 160px;
    z-index: 0;
}